{
  "root": true,
  "extends": [
    "recommended/esnext",
    "recommended/esnext/style-guide",
    "recommended/node",
    "recommended/node/style-guide"
  ],
  "plugins": [
    "html"
  ],
  "settings": {
    "html/html-extensions": [".njk"],
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "window": true
  },
  "rules": {
    "import/no-commonjs": 0,
    "import/no-nodejs-modules": 0,
    "camelcase": 0,
    "quotes": 0,
    "no-console": 1,
    "no-var": 1,
    "no-unused-vars": ["warn", {
      "ignoreRestSiblings": true,
      "args": "none"
    }],
    "semi": [
      1,
      "always"
    ],
    "key-spacing": ["warn", {
      "singleLine": {
        "beforeColon": true,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": true,
        "afterColon": true,
        "align": "colon"
      }
    }],
    "prefer-const": 1,
    "comma-dangle": 0,
    "no-invalid-this": 0,
    "indent": ["warn", 2],
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-multiple-empty-lines": [
      "warn", { "max": 2, "maxEOF": 1 }
    ],
    "no-unneeded-ternary": ["warn", {
      "defaultAssignment": true
    }],
    "no-alert": 0,
    "no-lone-blocks": 0
  }
}
