{
  "development": {
    "NODE_ENV" : "development",
    "APP_NAME" : "Intro",
    "PORT" : "3000",
    "WS_PORT" : "5000",
    "APP_URL" : "http://localhost:3000/",
    "STATIC_URL" : "http://localhost:3000/public/",
    "MONGODB_URI" : "mongodb://local_db",
    "GRAPH_ENDPOINT" : "graph",
    "GRAPH_SUBS_ENDPOINT" : "subscriptions",
    "SESSION_SECRET" : "session_super_secret",
    "JWT_SECRET" : "jwt_super_secret",
    "AUTH_REQUIRED" : false,
    "GOOGLE_ENABLED" : true,
    "GOOGLE_CLIENT_ID" : "111111111111-abcd1234abcd1234abcd1234abcd1234.apps.googleusercontent.com",
    "GOOGLE_CLIENT_SECRET" : "AbCdEfGhIjKlMnOpQrStUvWxyz"
  },
  "production": {
    "NODE_ENV" : "production",
    "APP_NAME" : "Outro",
    "PORT" : "3000",
    "WS_PORT" : "5000",
    "APP_URL" : "https://your_app.com/",
    "STATIC_URL" : "https://your.s3_bucket.net/",
    "MONGODB_URI" : "mongodb://r1.example.net:27017,r2.example.net:27017/",
    "GRAPH_ENDPOINT" : "graph",
    "GRAPH_URL" : "https://your_app.com/graph",
    "GRAPH_SUBS_ENDPOINT" : "subscriptions",
    "GRAPH_SUBS_URL" : "ws://your_app.com/subscriptions",
    "SESSION_SECRET" : "session_super_secret",
    "JWT_SECRET" : "jwt_super_secret",
    "GOOGLE_CLIENT_ID" : "111111111111-abcd1234abcd1234abcd1234abcd1234.apps.googleusercontent.com",
    "GOOGLE_CLIENT_SECRET" : "AbCdEfGhIjKlMnOpQrStUvWxyz"
  }
}
