{
  "development": {
    "NODE_ENV" : "",
    "APP_NAME" : "",
    "PORT" : "",
    "WS_PORT" : "",
    "APP_URL" : "",
    "STATIC_URL" : "",
    "MONGODB_URI" : "",
    "GRAPH_ENDPOINT" : "",
    "GRAPH_SUBS_ENDPOINT" : "",
    "SESSION_SECRET" : "",
    "JWT_SECRET" : ""
  },
  "production": {
    "NODE_ENV" : "",
    "APP_NAME" : "",
    "PORT" : "",
    "WS_PORT" : "",
    "APP_URL" : "",
    "STATIC_URL" : "",
    "MONGODB_URI" : "",
    "GRAPH_ENDPOINT" : "",
    "GRAPH_SUBS_ENDPOINT" : "",
    "SESSION_SECRET" : "",
    "JWT_SECRET" : ""
  }
}
