<!DOCTYPE html><!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]-->
  <head>
    <title>Tarmac</title>
    <!-- Metadata -->
    <meta name="language" content="en-us">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="contact" content="ac@ap-o.com">
    <meta name="author" content="Apostolos Christodoulou">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <div id="root">
      Tarmac
    </div>
    <a href="/auth/google">Login with google</a>
  </body>
</html>
